<header class="mb-3">
    <div class="container text-bg-light">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-3">
            <h3 class="mx-3">WeatherInfo</h3>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="/weather/Zhytomyr" class="nav-link px-2 link-dark">Weather</a></li>
            </ul>
        </div>
    </div>
</header>